.clock {
    height: 3rem;
    width: 3rem;
    background: oklch(20% 0 0);
    border: .1rem solid oklch(30% 0 0);
}

.hand {
    height: 0.1875rem;
    background: oklch(0.9475 0.1916 119.15);
    top: 50%;
    left: 50%;
    translate: 0% -50%;
    width: 50%;
    transform-origin: center left;
    transform: rotate 250ms;
    position: relative;
}

.digit {
    display: grid;
    grid-template:
        repeat(6, 1fr) / repeat(4, 1fr);
    gap: 0.125rem;
}

.time {
    display: grid;
    grid-template:
        repeat(1, 1fr) / repeat(2, 1fr);
    gap: 0.125rem;
}

.face {
    display: grid;
    grid-template:
        repeat(1, 1fr) / repeat(3, 1fr);
    gap: 0.125rem;
}